* {
  box-sizing: border-box;
}

:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

:root {
  --color-theme-main: #e5e5e560;
  --color-theme-bg: #d6d3d1;
  --color-theme-shadow: #a3a3a3;
  --color-theme-border: #a3a3a3;
  --color-theme-highlight: #22d3ee;
  --color-theme-highlight-bg: #cffafe40;
  --color-theme-focus: #334155;
  --color-theme-focus-bg: #f3f4f6;

  --color-theme-text-main: #09090b;
  --color-theme-text-alt: #52525b;

  --color-theme-user: #34d399;

  --color-theme-positive: #86efac;
  --color-theme-mixed: #f59e0b;
  --color-theme-negative: #f87171;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  color: inherit;
}

button,
input,
textarea {
  background-color: inherit;
  color: inherit;
  font: inherit;
  appearance: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.7rem;
}

h1 {
  font-size: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.lock .icon {
  background-image: url(img/lock-open.svg);
}

.locked .lock .icon {
  background-image: url(img/pencil.svg);
}

.day .icon {
  background-image: url(img/weather-sunny.svg);
}

.night .icon {
  background-image: url(img/weather-night.svg);
}

.feels-like .icon {
  background-image: url(img/thermometer-lines.svg);
}

.wind .icon {
  background-image: url(img/weather-windy.svg);
}

.humidity .icon {
  background-image: url(img/water-percent.svg);
}

.sunrise .icon {
  background-image: url(img/weather-sunset-up.svg);
}

.sunset .icon {
  background-image: url(img/weather-sunset-down.svg);
}

body {
  background-color: var(--color-theme-bg);
  display: grid;
  grid-template-rows: 1fr min-content;
  align-items: center;
  justify-items: center;
}

#background {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#window {
  width: clamp(80ch, 60%, 120ch);
}

.dashboard {
  background-color: var(--color-theme-main);
  padding: 1rem;
  border-radius: 1rem;

  display: grid;
  justify-items: center;
  gap: 0.5rem;
}

@media (max-width: 800px) {
  #window {
    width: 100%;
  }

  .dashboard {
    border-radius: 0;
  }
}

.search {
  position: relative;
  border-bottom: 1px solid var(--color-theme-border);

  &:focus-within {
    .results {
      background-color: var(--color-theme-focus-bg);
    }

    & > * {
      outline: 1px solid var(--color-theme-focus);
    }

    & * {
      &.selected {
        background-color: var(--color-theme-highlight-bg);
      }
    }
  }

  &:not(:focus-within) {
    .results {
      display: none;
    }
  }

  .lock {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    width: 2rem;
    height: 2rem;
    padding: 0.2rem;

    border: 1px solid var(--color-theme-border);
    border-radius: 0.2rem;
  }

  &.locked {
    background-color: none;
    border: none;
  }

  .input {
    width: 100%;
    height: 5rem;
    font-size: 3rem;
    border-radius: inherit;
    padding: 0.5rem;
    text-align: center;
  }

  .results {
    position: absolute;
    z-index: 1;
    background-color: inherit;
    width: 100%;
    display: grid;
    max-height: 12rem;
    overflow-y: scroll;

    &:not(:has(*)) {
      display: none;
    }

    > *:not(:first-child) {
      border-top: 1px solid var(--color-theme-border);
    }

    .option {
      &:hover {
        background-color: var(--color-theme-highlight-bg);
      }
      button {
        border: none;
        background-color: inherit;

        width: 100%;
        height: 100%;
        padding: 1rem;

        display: flex;
        justify-content: left;
      }
    }
  }
}

.temperature {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .value {
    font-size: 4rem;
  }

  .units {
    position: absolute;
    right: -3rem;
    top: 0.3rem;

    display: grid;
    font-size: 1.2rem;
    color: var(--color-theme-text-alt);

    .active {
      font-size: 2rem;
      color: var(--color-theme-text-main);
    }

    button {
      border: none;
    }
  }
}

.weather-info {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  row-gap: 1rem;

  .item {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;

    &.condition,
    &.feels-like {
      grid-column: 1 / -1;
      justify-self: center;
      font-size: 2rem;
    }
  }

  .icon-container {
    flex-shrink: 0;
    left: -3rem;
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
  }
}

@media (max-width: 800px) {
  .weather-info {
    grid-template-columns: 1fr;

    .item {
      justify-self: center;

      &.condition,
      &.feels-like {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .weather-info {
    grid-template-columns: 1fr;
    justify-items: center;

    .item {
      justify-self: left;

      &.condition,
      &.feels-like {
        justify-self: left;
        font-size: 1.5rem;
      }
    }
  }
}

#footer {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
