* {
  box-sizing: border-box;
}

:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

:root .theme-light {
  --color-theme-main: #e5e5e5;
  --color-theme-bg: #d6d3d1;
  --color-theme-shadow: #a3a3a3;
  --color-theme-highlight: #22d3ee;
  --color-theme-highlight-bg: #fafafa;
  --color-theme-focus: #334155;
  --color-theme-focus-bg: #cffafe;

  --color-theme-text-main: #09090b;
  --color-theme-text-alt: #52525b;

  --color-theme-user: #34d399;

  --color-theme-positive: #86efac;
  --color-theme-mixed: #f59e0b;
  --color-theme-negative: #f87171;
}

:root .theme-dark {
  --color-theme-main: #0c0a09;
  --color-theme-bg: #09090b;
  --color-theme-shadow: #6b7280;

  --color-theme-text-main: #fafaf9;
  --color-theme-text-alt: #e5e7eb;

  --color-theme-user: #059669;

  --color-theme-positive: #059669;
  --color-theme-mixed: #f59e0b;
  --color-theme-negative: #ef4444;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  color: inherit;
}

button,
input,
textarea {
  background-color: inherit;
  color: inherit;
  font: inherit;
  appearance: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.7rem;
}

h1 {
  font-size: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: var(--color-theme-bg);
}

.search {
  background-color: var(--color-theme-main);
  border: 1px solid var(--color-theme-shadow);
  position: relative;

  &:focus-within {
    border: 2px solid var(--color-theme-focus);
  }

  &:not(:focus-within) {
    .results {
      display: none;
    }
  }

  input {
    border: none;

    width: 100%;
    border-radius: inherit;
    padding: 1rem;

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--color-theme-shadow);
      &.selected {
        border: 1px solid var(--color-theme-highlight);
        background-color: var(--color-theme-highlight-bg);
      }
    }
  }

  .results {
    position: relative;
    display: grid;
    max-height: 10rem;
    overflow-y: scroll;

    > *:not(:first-child) {
      border-top: 1px solid var(--color-theme-shadow);
    }

    .option {
      &:hover,
      &.selected {
        border: 1px solid var(--color-theme-highlight);
        background-color: var(--color-theme-highlight-bg);
      }
      button {
        border: none;
        background-color: inherit;

        width: 100%;
        height: 100%;
        padding: 1rem;

        display: flex;
        justify-content: left;
      }
    }
  }
}
